<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title></title>
</head>

<style>
    .suggestions{
        background-color: white;
        cursor: pointer;
        list-style-type: none;
        padding: 0.3rem 1rem;
        border-bottom: 1.5px solid whitesmoke;
        border-radius: 0.4rem;
    }
    .suggestions:hover{
        background-color: whitesmoke;
    }

    .searchSuggestionDiv{
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 0.4rem;
        box-shadow: 2px 3px 3px 1px rgb(211, 212, 212);
        padding-top: 0.5rem;
    }

</style>

<body>

    <div class="">

        <nav class="navbar-expand-lg navbar navbar-dark bg-dark" style="height: 4.3rem;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'myshop:home' %}">myshop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link"  href="{% url 'myshop:home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'userinfo:profile' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="navElementCart" href="{% url 'myshop:viewCart' %}">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="navElementCart" href="{% url 'myshop:myOrders' %}">My Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'myshop:addProduct' %}">Add Product</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">My Sellings</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'myshop:logout' %}">Logout</a>
                        </li>
                    </ul>
                    <form autocomplete="off" style="height: 2.3rem; margin-top: 1rem;" class="d-flex" role="search" method="get" action="{% url 'myshop:searchProducts' %}">

                        <div style="display: flex; flex-direction: column; margin-right: 0.9rem;">

                            {% if searchKey %}
                                <input required class="form-control me-3" type="search" placeholder="Search Products" name="searchKey" aria-label="Search" id="searchKeyword" value="{{ searchKey }}">
                            {% else %}
                                <input required class="form-control me-3" type="search" placeholder="Search Products" name="searchKey" aria-label="Search" id="searchKeyword">
                            {% endif %}

                            <div class="searchSuggestionDiv" id="suggestionContainer" style="display: none;">
                            </div>
                        </div>
                        <button class="btn btn-outline-secondary text-light" id="search" type="submit">Search</button>

                    </form>
                </div>
            </div>
        </nav>
    </div>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger mb-0" role="alert">
                    <span>{{ message }}</span>
                    {% if request.session.helper %}
                        <a href="{{ request.session.helper }}" class="btn btn-primary btn-sm ml-3">{{ request.session.helperName }}</a>
                    {% endif %}
                </div>
            {% else %}
                <div class="alert alert-{{ message.tags }} mb-0" role="alert">
                    <span>{{ message }}</span>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% block content %} {% endblock content %}

</body>

<script>

    function handleSuggestionClick(value){
        let suggestionContainer = document.getElementById("suggestionContainer");
        suggestionContainer.innerHTML = "";
        suggestionContainer.style.display = "none";
        searchTag.value = value;
    }

    function showSuggestions(suggestions){

        let suggestionContainer = document.getElementById("suggestionContainer");
        suggestionContainer.innerHTML = "";
        suggestionContainer.style.display = "flex";
        if( suggestions.length ){
            for(let suggestion of suggestions){
                let li = document.createElement("li");
                li.classList.add("suggestions");
                li.onclick = ()=>{handleSuggestionClick(suggestion)};
                li.innerText = suggestion
                suggestionContainer.appendChild(li);
            }
        }
        else{
            let li = document.createElement("li");
            li.classList.add("suggestions");
            li.innerText = "No Search Suggestion"
            suggestionContainer.appendChild(li);
        }
    }

    function suggesstSearches(e){

        let searchKey = e.target.value;
        if( searchKey.length == 4 || searchKey.length == 6 || searchKey.length >= 8 ){
            $.ajax({
                    type:"GET",
                    url: "/myshop/suggestSearches/" + searchKey,
                    data:{},
                    success: data => {
                        showSuggestions(data['searchSuggestions'])
                    }
                }
            );
        }
        else if( searchKey.length == 0 ){
            handleSuggestionClick("")
        }
    }
    let searchTag = document.getElementById("searchKeyword");
    searchTag.onkeyup = suggesstSearches;

</script>

</html>