<style>
    
    .outerContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        padding: 0.2rem 1rem;
    }

    .userDetailsContainer{
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        /* box-shadow: 2px 2px 3px 3px rgb(211, 212, 212); */
        width: 58rem;
        height: 30rem; 
        margin-top: 0.3rem;
        padding: 0.5rem 1rem;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .userDetailsContainer::-webkit-scrollbar {
        display: none;
    }

    .table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 1em;
        font-family: sans-serif;
        box-shadow: 4px 3px 6px 3px rgb(211, 212, 212);
        border-radius: 0.3rem;
    }

    .table thead tr {
        background-color: #6c7ae0;
        color: #ffffff;
        text-align: left;
    }

    .table th, .table td {
        padding: 15px 20px;
    }

    .table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .table tbody tr.active-row {
        background-color: #f8f6ff;
    }

    .OuterDivInput{
        display: flex;
        padding: 1rem;
    }

    .inputTag{
        outline: none;
        border: 2.5px solid rgb(28, 135, 236);;
        border-radius: 0.3rem;
        width: 18rem;
        margin-right: 1rem;
    }

    .mybutton{
        text-decoration: none;
        padding: 0.3rem 0.4rem;
        background-color: white;
        color: #1e6ce2;        
        cursor: pointer;
        border: 1.5px solid #1e6ce2;
        border-radius: 0.4rem;
        font-size: 14px;
    }

    .mybutton:hover{
        background-color: whitesmoke;
    }

    .hoverClass:hover{
        background-color: #0a58ca;
    }

</style>

{% extends 'myshop/base.html' %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
{% load static %}
<script src="{% static 'CartUtilities.js' %}"></script>
<script type="text/javascript">
            
    function viewProduct(productId){
        url = "http://127.0.0.1:8000/myshop/viewProduct/" + productId;
        window.open(url, target="_self");
    }

    initializeUtilities();

</script>


<div class="outerContainer">

    <div class="userDetailsContainer" id="userDetailsContainer">
        

        <table class="table">
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>

                {% for product in cartItems %}
                                
                    <tr class="">
                        <td>{{ product.index }}</td>
                        <td>{{ product.product.productName }}</td>
                        <td>Rs. {{ product.product.productPrice }}</td>
                        <td>{{ product.productQty }} Unit(s)</td>
                        <td>Rs. {{ product.total }}</td>
                    </tr>

                {% endfor %}
                
                <!-- Displaying an empty row -->
                <tr class="">
                    <td>--</td>
                    <td>-----</td>
                    <td>-----</td>
                    <td>-----</td>
                    <td>-----</td>
                </tr>

                <!-- Displaying delivery charges -->
                <tr class="">
                    <td>--</td>
                    <td>Delivery Charges</td>
                    <td>-----</td>
                    <td>-----</td>
                    <td id="deliveryChargesDisplay" >--</td>
                </tr>

                <!-- For displaying discount -->
                <tr class="" id="orderDiscountRow" style="display: none;">
                    <td>--</td>
                    {% if planEnrolledIn == 'one_month_plan' %}
                        <td>Order Discount ♕ (5%)</td>
                    {% elif planEnrolledIn == 'three_month_plan' %}
                        <td>Order Discount ♚ (8%)</td>
                    {% elif planEnrolledIn == 'one_year_plan' %}
                        <td>Order Discount 👑 (10%)</td>
                    {% endif %}
                    <td>-----</td>
                    <td>-----</td>
                    <td id="orderDiscount" style="color: red;">--</td>
                </tr>

                <!-- For displaying discount -->
                <tr class="" id="deliveryDiscountRow" style="display: none;">
                    <td>--</td>
                    {% if planEnrolledIn == 'one_month_plan' %}
                        <td>Delivery Discount ♕ (5%)</td>
                    {% elif planEnrolledIn == 'three_month_plan' %}
                        <td>Delivery Discount ♚ (8%)</td>
                    {% elif planEnrolledIn == 'one_year_plan' %}
                        <td>Delivery Discount 👑 (100%)</td>
                    {% endif %}
                    <td>-----</td>
                    <td>-----</td>
                    <td id="deliveryDiscount" style="color: red;">--</td>
                </tr>

                <!-- For displaying total bill -->
                <tr class="active-row">
                    <td>--</td>
                    <td>Total</td>
                    <td>Rs. {{ sumOfIndividualPrice }} (Individual Price Sum)</td>
                    <td>{{ totalUnits }} Unit(s)</td>
                    <td id="totalAmount" >Rs. {{ totalBillAmount }}</td>
                </tr>
            </tbody>
        </table>
        
        <p id="totalProductCharges" hidden>{{ totalBillAmount }}</p>
        <p id="planEnrolledIn" hidden>{{ planEnrolledIn }}</p>

        <form action="{% url 'myshop:placeOrder' %}" method="post">
            {% csrf_token %}
            <input type="number" step="0.01" value="0" name="totalBillAmount" id="totalBillAmount" hidden>
            <input type="number" step="0.01" value="1" name="centerId" id="centerId" hidden>
            <input type="number" step="0.01" value="0" name="deliveryCharges" id="deliveryCharges" hidden>
            <input type="number" step="0.01" value="0"  name="orderDiscountInput" id="orderDiscountInput" hidden>
            <input type="number" step="0.01" value="0" name="deliveryDiscountInput" id="deliveryDiscountInput" hidden>
            {% if planEnrolledIn == 'one_month_plan' %}
                <input type="text" value="♕" name="crownSymbol" id="crownSymbol" hidden>
            {% elif planEnrolledIn == 'three_month_plan' %}
                <input type="text" value="♚" name="crownSymbol" id="crownSymbol" hidden>
            {% elif planEnrolledIn == 'one_year_plan' %}
                <input type="text" value="👑" name="crownSymbol" id="crownSymbol" hidden>
            {% else %}
                <input type="text" value="" name="crownSymbol" id="crownSymbol" hidden>
            {% endif %}
            <div class="OuterDivInput">
                <select id="address" class="inputTag inputTagDropdown" name="address">
                    <option selected value="defaulttext">Select Your Delivery Address</option>
                    {% for address in userAddresses %}
                        <option value="{{ address.addressId }}">{{ address.addressLine }}, {{ address.city }}, {{ address.state }}</option>
                    {% endfor %}
                </select>

                <a href="http://127.0.0.1:8000/myshop/profile/myAddress/addNewAddress" class="mybutton">Add New Address</a>
            </div>

            <div style="display: flex; justify-content: center; margin-top: 2rem;">
                <button id="payAndPlaceOrder" type="submit" class="btn-primary btn">Pay & Place Order</button>
            </div>

        </form>

        <div id="waitingInfo" style="display: none; margin-top: 1.5rem; justify-content: center;">
            <span style="margin-right: 1rem; font-weight: bold; font-size: 1.2rem;">Finding the best route to your address ...</span>
            <div class="spinner-grow text-primary" style="margin-right: 0.5rem;" role="status">
            </div>
            <div class="spinner-grow text-danger" style="margin-right: 0.5rem;" role="status">
            </div>
            <div class="spinner-grow text-warning" style="margin-right: 0.5rem;" role="status">
            </div>
            <div class="spinner-grow text-success" style="margin-right: 0.5rem;" role="status">
            </div>
        </div>

    </div>

</div>

<script>

    function getNearestCenter(){
        let address = addressDropdown.options[addressDropdown.selectedIndex].value;
        if(address != "defaulttext"){
            waitingInfo.style.display = "flex";
            payAndPlaceOrder.style.backgroundColor = "#f8f9fa";
            payAndPlaceOrder.style.color = "black";
            payAndPlaceOrder.disabled = true;
            $.ajax({
                type: "GET",
                data : {"addressId":address},
                url: "/myshop/findNearestCenter/",
                async: true,
                success: changeDeliveryAddressAndDisplayCharges
            });
        }
        else{
            changeDeliveryAddressAndDisplayCharges({
                'deliveryCharges' : 0,
                'centerId' : 1,
            });
            document.getElementById("deliveryChargesDisplay").innerText = "--";
            document.getElementById("deliveryDiscountRow").style.display = "none";
        }
    }

    function changeDeliveryAddressAndDisplayCharges(data){

        let deliveryCharges = document.getElementById("deliveryCharges");
        let deliveryChargesDisplay = document.getElementById("deliveryChargesDisplay");
        let totalAmount = document.getElementById("totalAmount");
        let totalBillAmount = document.getElementById("totalBillAmount");
        let totalProductCharges = document.getElementById("totalProductCharges");
        let centerId = document.getElementById("centerId");
        let planEnrolledIn = document.getElementById("planEnrolledIn").innerText;
        let orderDiscountRow = document.getElementById("orderDiscountRow");
        let orderDiscount = document.getElementById("orderDiscount");
        let deliveryDiscountRow = document.getElementById("deliveryDiscountRow");
        let deliveryDiscount = document.getElementById("deliveryDiscount");
        let orderDis = 0, deliveryDis = 0;

        orderDiscountRow.style.display = deliveryDiscountRow.style.display = "none";
        if( data['deliveryCharges'] == 0 ){
            deliveryChargesDisplay.innerText = "Free Delivery";
            deliveryChargesDisplay.style.color = "green";
            if( planEnrolledIn == "one_month_plan" ){
                orderDiscountRow.style.display = "";
                orderDis = (5/100 * parseFloat(totalProductCharges.innerText));
                orderDiscount.innerText = "Rs. " + orderDis;
            }
            else if( planEnrolledIn == "three_month_plan" ){
                orderDiscountRow.style.display = "";
                orderDis = (8/100 * parseFloat(totalProductCharges.innerText));
                orderDiscount.innerText = "Rs. " + orderDis;
            }
            else if( planEnrolledIn == "one_year_plan" ){
                orderDiscountRow.style.display = "";
                orderDis = (10/100 * parseFloat(totalProductCharges.innerText));
                orderDiscount.innerText = "Rs. " + orderDis;
            }
            totalBillAmount.value = (parseFloat(totalProductCharges.innerText) - orderDis);
            totalAmount.innerText = "Rs. " + totalBillAmount.value;
        }
        else{
            deliveryChargesDisplay.innerText = "Rs. " + data['deliveryCharges'];
            deliveryChargesDisplay.style.color = "black";
            if( planEnrolledIn == "one_month_plan" ){
                orderDiscountRow.style.display = deliveryDiscountRow.style.display = "";
                orderDis = (5/100 * parseFloat(totalProductCharges.innerText));
                deliveryDis = (5/100 * parseFloat(data['deliveryCharges']));
                orderDiscount.innerText = "Rs. " + orderDis;
                deliveryDiscount.innerText = "Rs. " + deliveryDis;
            }
            else if( planEnrolledIn == "three_month_plan" ){
                orderDiscountRow.style.display = deliveryDiscountRow.style.display = "";
                orderDis = (8/100 * parseFloat(totalProductCharges.innerText));
                deliveryDis = (8/100 * parseFloat(data['deliveryCharges']));
                orderDiscount.innerText = "Rs. " + orderDis;
                deliveryDiscount.innerText = "Rs. " + deliveryDis;
            }
            else if( planEnrolledIn == "one_year_plan" ){
                orderDiscountRow.style.display = deliveryDiscountRow.style.display = "";
                orderDis = (10/100 * parseFloat(totalProductCharges.innerText));
                deliveryDis = parseFloat(data['deliveryCharges']);
                orderDiscount.innerText = "Rs. " + orderDis;
                deliveryDiscount.innerText = "Rs. " + deliveryDis;
            }
            totalBillAmount.value = (parseFloat(totalProductCharges.innerText) + parseFloat(data['deliveryCharges']));
            totalBillAmount.value -= (orderDis + deliveryDis);
            totalAmount.innerText = "Rs. " + totalBillAmount.value;
        }
        document.getElementById("orderDiscountInput").value = orderDis;
        document.getElementById("deliveryDiscountInput").value = deliveryDis;
        deliveryCharges.value = data['deliveryCharges'];
        centerId.value = data['centerId'];
        waitingInfo.style.display = "none";
        payAndPlaceOrder.style.backgroundColor = "#0d6efd";
        payAndPlaceOrder.style.color = "white";
        payAndPlaceOrder.disabled = false;
        payAndPlaceOrder.classList.add("hoverClass");
    }

    function displayOrderDiscountInitially(){
        let planEnrolledIn = document.getElementById("planEnrolledIn").innerText;
        let orderDiscountRow = document.getElementById("orderDiscountRow");
        let orderDiscount = document.getElementById("orderDiscount");
        let orderDis = 0;
        let totalAmount = document.getElementById("totalAmount");
        let totalBillAmount = document.getElementById("totalBillAmount");
        orderDiscountRow.style.display = "none";

        if( planEnrolledIn == "one_month_plan" ){
            orderDiscountRow.style.display = "";
            orderDis = (5/100 * parseFloat(totalProductCharges.innerText));
            orderDiscount.innerText = "Rs. " + orderDis;
        }
        else if( planEnrolledIn == "three_month_plan" ){
            orderDiscountRow.style.display = "";
            orderDis = (8/100 * parseFloat(totalProductCharges.innerText));
            orderDiscount.innerText = "Rs. " + orderDis;
        }
        else if( planEnrolledIn == "one_year_plan" ){
            orderDiscountRow.style.display = "";
            orderDis = (10/100 * parseFloat(totalProductCharges.innerText));
            orderDiscount.innerText = "Rs. " + orderDis;
        }
        totalBillAmount.value = (parseFloat(totalProductCharges.innerText) - orderDis);
        totalAmount.innerText = "Rs. " + totalBillAmount.value;
        document.getElementById("orderDiscountInput").value = orderDis;
    }

    function changeButtonColor(event){

        if( event == "hoverin" ){
            payAndPlaceOrder.style.backgroundColor = "#0a58ca";
        }
        else{
            payAndPlaceOrder.style.backgroundColor = "#0d6efd";
        }
    }

    let addressDropdown = document.getElementById("address");
    let waitingInfo = document.getElementById("waitingInfo");
    let payAndPlaceOrder = document.getElementById("payAndPlaceOrder");
    payAndPlaceOrder.addEventListener('mouseover', ()=>{changeButtonColor("hoverin")});
    payAndPlaceOrder.addEventListener('mouseout', ()=>{changeButtonColor("hoverout")});


    addressDropdown.onchange = getNearestCenter;
    displayOrderDiscountInitially();
</script>

{% endblock content %}