<style>
    
    .outerContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        padding: 0.2rem 1rem;
    }

    .userDetailsContainer{
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        /* box-shadow: 2px 2px 3px 3px rgb(211, 212, 212); */
        width: 52rem;
        height: 30rem; 
        margin-top: 0.3rem;
        padding: 0.5rem 1rem;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .userDetailsContainer::-webkit-scrollbar {
        display: none;
    }

    .cartItem{

        display: flex;
        justify-content: space-around;
        border-radius: 1rem;
        box-shadow: 4px 3px 6px 3px rgb(211, 212, 212);
        padding: 0.8rem 1rem;
        margin: 1rem 0px;
    }

    .productInfo{
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .productImageContainer{

        display: flex;
        flex-direction: column;
    }

    .label{
        margin: 2px 1rem;
    }

    .details{
        margin: 2px 1.5rem;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .increDcreButton{
        font-size: 15px;
        padding: 2px 5px;
        margin: 2px 5px;
        border: none;
        background-color: white;
        border-radius: 0.3rem;
    }

    .increment{
        color: #1974fd;
        border: 1px solid #1974fd;
    }

    .decrement{
        padding: 2px 6px;
        border: 1px solid rgb(243, 50, 50);
        color: rgb(243, 50, 50);
    }

    .increDcreButton:hover{
        background-color: whitesmoke;
    }

    .removeButtonDiv{
        display: flex;
        margin-bottom: 0.2rem;
        margin-top: 0.1rem;
        /* margin-right: 1rem; */
    }

    .removeButton{
        margin-left: auto;
        border: 1px solid rgb(243, 50, 50);
        color: rgb(243, 50, 50);
        background-color: white;
        border-radius: 0.3rem;
        font-size: 13px;
        padding: 0.2rem 0.4rem;
    }

    .removeButton:hover{
        background-color: whitesmoke;
    }

</style>

{% extends 'myshop/base.html' %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
{% load static %}
<script src="{% static 'CartUtilities.js' %}"></script>
<script type="text/javascript">
            
    function viewProduct(productId){
        url = "https://its-myshop.herokuapp.com/myshop/viewProduct/" + productId;
        window.open(url, target="_self");
    }

    initializeUtilities();

</script>


<div class="outerContainer">

    {% if cartItemsCount %}

        <img id="noItemInCart" style="display: none;" src="https://shop.millenniumbooksource.com/static/images/cart1.png" alt="" width="550px" height="450px">
        
        <div class="userDetailsContainer" id="userDetailsContainer">
            <div>
                <a href="{% url 'myshop:placeOrder' %}" class="btn btn-primary">Place Order</a>
            </div>

            {% for product in cartItems %}

                <div class="cartItem" id="cartItem_{{ product.product.productId }}">

                    <div class="productImageContainer">
                        <img src="{{ product.product.productImage.url }}" alt="Product Image" width="150px" height="150px" style="border-radius: 0.4rem; cursor: pointer;" onclick="viewProduct('{{ product.product.productId }}')">

                        <div style="text-align: center; margin-top: 0.5rem;"><h5>{{ product.product.productName }}</h5></div>
                    </div>

                    <div class="productInfo">

                        <div style="text-align: center;"><h4>Product Details</h4></div>

                        <div style="display: flex; margin-top: 0.5rem;">
                            <div style="margin-left: 1rem;">
                                <h6 class="label">Cost (Including all taxes.)</h6>
                                <p class="details" style="font-weight: bold;"> Rs. {{ product.product.productPrice }}</p>
                            </div>
            
                            <div style="margin-left: 1rem;">
                                <h6 class="label">Manufacture Details : </h6>
                                <p class="details">{{ product.product.manufacturerDetails }}</p>
                            </div>
                        </div>

                        <div style="display: flex; margin-top: 0.3rem;">
                            <div style="margin-left: 1rem;">
                                <h6 class="label">Product Quantity</h6>
                                <div style="display: flex;">
                                    <p id="product_{{ product.product.productId }}_qty" class="details" style="margin-right: 4px;">{{ product.productQty }} Unit(s)</p>
                                    <button onclick="changeCartItemQuantity('{{ product.product.productId }}', 1)" class="increDcreButton increment">+</button>
                                    <button onclick="changeCartItemQuantity('{{ product.product.productId }}', -1)" class="increDcreButton decrement">-</button>
                                </div>
                            </div>
            
                            <div style="margin-left: 4.6rem;">
                                <h6 class="label">Warranty Period</h6>
                                <p class="details">{{ product.product.warrantInMonths }} Month(s)</p>
                            </div>
                        </div>

                        <div class="removeButtonDiv">
                            <button class="removeButton" onclick="removeProductFromCart__CartPage('{{ product.product.productId }}')">Remove</button>
                        </div>

                    </div>
                </div>

            {% endfor %}

            
        </div>
    
    {% else %}
        
        <img src="https://shop.millenniumbooksource.com/static/images/cart1.png" alt="" width="550px" height="450px">

    {% endif %}

</div>

{% endblock content %}